.profilePicture{
  width: 250px;
  margin: 20px;
}

.cvButtonContainer{
  margin-bottom: 20px;
}

.cvButton{
  margin: 10px;
}

.aboutContent{
  color: white;
}

.aboutImage{
  width: 250px;
  margin-bottom: 20px;
}