#nav-bar-container{
  margin-bottom: 20px;
}

nav{
  padding: 5px 20% 5px 20%;
}

#language-menu{
  flex-direction: row !important;
}

.language-item{
  padding: 8px !important;
}

.language-change{
  width: 50px;
}

.language-change:hover{
  cursor: pointer;
}