#navBarContainer{
  margin-bottom: 20px;
}

nav{
  padding: 5px 20% 5px 20%;
}

#languageMenu{
  flex-direction: row !important;
}

.languageItem{
  padding: 8px !important;
}

.languageChange{
  width: 50px;
}

.languageChange:hover{
  cursor: pointer;
}