<div class="container">
  <div class="contentContainer">
    <h1 class="white">Contact Me</h1>
    <p class="white boxParagraph">Graduating game development college in 2020 and looking for a position as a Game programmer in Tokyo. If you are looking to hire me or just want to have a chat, feel free to hit me up. Currently not taking requests for freelance work.</p>
    <div class="contactContainer white">
      <a href="#">Email</a>
      <a href="#">LinkedIn</a>
      <a href="#">Twitter</a>
      <a href="#">Github</a>                                                
    </div>
  </div>
</div>  