.productTopRow{
  display: flex;
  justify-content: space-around;
}

.alignmentHelper{
  width: 10%;
}

.memberAmountBadge{
  position: absolute;
  right: 30px;
  top: 0px;
  margin-top: 5px;
  color: white;
  width: 90px;
  height: 40px;
  border-radius: 3px;
  border: 0px;
}

.soloTag{
  background-color: #6ba4ff;
}

.groupTag{
  background-color: #6d8c3e;
}

.companyTag{
  background-color: #816bff;
}

.portfolioThumbnail{
  width: 512px;
  max-width: 90%;
  border-radius: 10px;
  margin: 20px;
}

.portfolioIntroText{
  color: white;
  margin: 20px;
}

.categoryButtonBox{
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.categoryButton{
  margin: 10px;
}

.productName{
  margin: 5px;
}

.toolLogos{
  margin: 10px;
}

.toolLogo{
  height: 60px;
  margin: 5px 10px;
}

.actionLinks{
  margin: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding-bottom: 10px;
}

.externalLink{
  margin: 10px 20px;
}

.linkImage{
  width: 200px;
  margin: 10px;
}

.productRuler{
  width: 90%;
	height: 6px;
	background: url(https://res.cloudinary.com/knallcloud/image/upload/v1539696648/hr-11.png) repeat-x 0 0;
  border: 0;
}

@media (max-width: 770px) {
  .memberAmountBadge {
    position: static;
    margin-top: 20px;
    margin-bottom: 15px;
  }
}
