<div class="container">
  <div class="contentContainer largeContainer">

    <!-- A single Product -->
    <div *ngFor="let product of products; let i = index" class="singleProduct">
      <h2 class="centered white productName" [innerHtml]="product.name"></h2>
      <div class="row">
        <div class="col-sm-12 col-xl-6">
          <img class="portfolioThumbnail" [src]="product.thumbnailPath">
        </div>
        <div class="col-sm-12 col-xl-6">
          <p class="portfolioIntroText" [innerHtml]="languageService.displayIsEnglish ? product.introTextEN : product.introTextJP"></p>
          <div class="toolLogos">
            <img *ngFor="let logo of product.toolLogos" class="toolLogo" [src]="logo.imagePath" [title]="logo.title">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="actionLinks">
          <div *ngFor="let actionButton of product.actionButtons" class="actionLink"> 
            <a class="externalLink" target="_blank" rel="noopener noreferrer" [href]="actionButton.link">
              <img class="linkImage darken" [src]="actionButton.imagePath">
            </a>          
          </div>
        </div>      
      </div>
      <hr *ngIf="i < products.length -1" class="productRuler">
    </div>
    <!-- A single Product -->

  </div>
</div>
