body,html{
  height: 100%;
  width: 100%;
  margin: 0;
}

body{
  background: linear-gradient(to bottom right, #2e3a4e, #71747ab4), url("https://res.cloudinary.com/gcloud1991/image/upload/v1510698237/6_-_Japan_-_9_Hakone_11_hvg0cw.jpg") no-repeat center; 
  background-size: cover; 
  margin: 0;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.fullContainer{
  min-height: 100%;
  margin-bottom: -50px;
}

.contentContainer{
  background-color: #132b5285;
  width: 100%;
  padding: 20px 0;
  border-radius: 10px;
  text-align: center;
  margin-bottom: 60px;
}

.centered{
  text-align: center;
}

.white{
  color: white;
}

.boxParagraph{
  padding: 10px 15%;
}