.portfolioCategories{
  text-align: center;
}

#headLineName{
  size: 500px;
}

.headLine{
  margin-top: 50px;
}

.headLine h1{
  font-size: 70px;
}

.introductionContainer{
  margin-top: 30px;
  width: 60%;
  margin: 50px auto;
  padding-bottom: 40px;
}

.welcomeText{
  font-size: 20px;
  margin-bottom: 40px;
}

.homeButton{
  margin: 5px 20px;
}

@media screen and (max-width: 425px){
  .headLine h1{
    font-size: 50px;
  }

  .headLine h2{
    font-size: 25px;
  }
}