<div class="container">
  <div class="headLine white centered">
    <h1 class="fadeSlideTop" [innerHTML]="languageService.displayIsEnglish ? textEnglish.firstName : textJapanese.firstName"></h1>
    <h1 class="fadeSlideTop" [innerHTML]="languageService.displayIsEnglish ? textEnglish.secondName : textJapanese.secondName"></h1>
    <h2 class="fadeSlideTop" [innerHTML]="languageService.displayIsEnglish ? textEnglish.job : textJapanese.job"></h2>
  </div>
  <div class="centered white">
    <div class="row">
        <div class="introductionContainer fadeSlideBottom">
          <p class="welcomeText" [innerHTML]="languageService.displayIsEnglish ? textEnglish.welcome : textJapanese.welcome"></p>
          <button class="btn btn-lg btn-warning homeButton growShrink" (click)="NavigatePortfolio()" [innerHTML]="languageService.displayIsEnglish ? textEnglish.portfolio : textJapanese.portfolio"></button>
          <button class="btn btn-lg btn-primary homeButton" (click)="NavigateAbout()" [innerHTML]="languageService.displayIsEnglish ? textEnglish.about : textJapanese.about"></button>
        </div>
    </div>
  </div>
</div>